h1 {
    color: orange;
    background-color:black;
    font-size: 30px;
    font-family: Optima, sans-serif;
}

ul {
    text-align: center;
    color:red;

   
}

p{
    background-color: #000066;
    color: yellow;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

/* The following is the superhero activity */

#batmanTitle {
    color: yellow;
    font-family: Optima, sans-serif;
}

#batmanFacts {
    background-color: gray;
    text-align: right;
    color: honeydew;
}

#firstList {
    background-color: indianred;
}

#secondList {
    background-color: black;
}

#thirdList {
    background-color: olivedrab;
}

#firstList, #secondList, #thirdList {
    font-size: 20px;
}

.quarantineActivities {
   background-color: powderblue;
   border: 5px double black;
}
/* classes have dots */

body {
    background-color: burlywood;
    background-image: url("practiceimages/desert_scenery.jpg");
}